/* Layout */

.viewer {
    width: 100%;
}

.centered {
    margin-top: 25%;
}

body, html, .container, .container-fluid, .col-xs-10, .viewer {
    height: 100%;
}

.full-height {
  height: 100%;
}

.no-padding {
  padding: 0px;
}

.flex-center {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;

   -webkit-box-align: center;
   -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;

    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

   margin: 0;
   height: 100%;
   width: 100%;
   padding-bottom: 5em;
}

/* Typography */

body {
  font-family: "freight-sans-pro", helvetica, sans-serif;
}

.headline {
  text-align: center;
}

.headline h1 {
  font-size: 5em;
  font-weight: lighter;
}

.headline h3 {
  font-size: 2.4em;
  font-weight: lighter;
}

.small-container {
  margin: 0;
}

small {
  font-size: 65%;
  color: #999;
}

.headline .btn {
  height: 3em;
  font-size: 1.92em;
  margin-top: 2em;
}

/* viewer.js adjustments */

.crocodoc-current-page {
  width: inherit !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Bootstrap adjustments */

.btn-presentation, .btn-presentation:focus {
  height: 100%;
  width: 100%;
  border: none;
}

.btn-presentation:hover {
  background-color: rgba(235, 235, 235, .8);
}

.btn-left {
  background: url(/left-arrow.png) no-repeat;
  background-position: 50% 50%;
}

.btn-right {
  background: url(/right-arrow.png) no-repeat;
  background-position: 50% 50%;
}

.btn-left:active {
  background: url(/left-arrow.png) no-repeat;
  background-color: rgba(235, 235, 235, .7);
  background-position: 50% 50%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-right:active {
  background: url(/right-arrow.png) no-repeat;
  background-color: rgba(235, 235, 235, .7);
  background-position: 50% 50%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn:focus, .btn:active:focus {
  outline: none;
}

.btn {
  font-weight: bold;
}

.btn-round-green {
  background-color: #fff;
  border-color: rgba(116, 208, 112, 1);
  color: rgba(116, 208, 112, 1);
  border-width: .15em;
  border-radius: 50px;
}

.btn-round-green:hover {
  background-color: rgba(116, 208, 112, 1);
  color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -box-shadow: none;
}

.btn-round-green:focus {
  background-color: rgba(116, 208, 112, .8);
  border-color: rgba(116, 208, 112, .8);
  color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -box-shadow: none;
}

.btn-round-green:visited {
  background-color: #fff;
  border-color: rgba(116, 208, 112, 1);
  color: rgba(116, 208, 112, 1);
  border-width: .15em;
  border-radius: 50px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -box-shadow: none;
}

.btn-round-green:active {
  background-color: rgba(116, 208, 112, .9);
  border-color: rgba(116, 208, 112, .9);
  color: #fff;
  border-width: .15em;
  border-radius: 50px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -box-shadow: none;
}

/* Iron Router Progress Bar adjustments */

#iron-router-progress {
    background-color: rgba(116, 208, 112, 1);
    box-shadow: 0 0 0 rgba(116, 208, 112, 1);
}

#iron-router-progress.spinner:before {
  border-color: rgba(116, 208, 112, 1);
}

/* animations? */

.transparent {
  opacity: 0;
}

.fade-in {
  -webkit-animation: fadeIn 1.2s .5s forwards;
     -moz-animation: fadeIn 1.2s .5s forwards;
       -o-animation: fadeIn 1.2s .5s forwards;
          animation: fadeIn 1.2s .5s forwards;
}

@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
   @-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
     @-o-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

.fade-out {
  -webkit-animation: fadeOut 1.2s .5s forwards;
     -moz-animation: fadeOut 1.2s .5s forwards;
       -o-animation: fadeOut 1.2s .5s forwards;
          animation: fadeOut 1.2s .5s forwards;
}

@-webkit-keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
   @-moz-keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
     @-o-keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
        @keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
