/* Layout */
.viewer {
    width: 100%;
}

.centered {
    margin-top: 25%;
}

body, html, .container, .col-xs-10, .row, .row-fluid, .viewer {
    height: 100%;
}

/* Typography */

/* Bootstrap adjustments */

.btn {
  white-space: normal;
}

.btn:focus, .btn:active:focus {
  outline: none;
}

.container-fluid {
	height: 100%;
}

.row-fluid {
  padding: 10% 10%;
}

/* animations? */

.not-visible {
  display: none;
}

.fade-in {
  -webkit-animation: fadeIn 1.2s .5s forwards;
     -moz-animation: fadeIn 1.2s .5s forwards;
       -o-animation: fadeIn 1.2s .5s forwards;
          animation: fadeIn 1.2s .5s forwards;
}

@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
   @-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
     @-o-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
