<template name="upload">
	<div class="flex-center">
		<div class="row">
			<div class="col-xs-12 headline">
				<h1>Broadcast</h1>
				<h3>The fastest, easiest way to share a presentation online</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 headline">
				<button type="button" id="upload" class="btn btn-round-green">Share A Presentation</button>
				<h3 class="small-container"><small>Supports .pdf, .ppt(x)</small></h3>
				<h3 class="small-container"><small>Presentations self-destruct after 1 hour</small></h3>
			</div>
		</div>
	</div>
</template>
