<template name="presenter">
    <div class="row full-height">
        <div class="col-xs-1 no-padding full-height">
            <button type="button" id="previous" class="btn btn-presentation btn-left btn-default btn-lg pull-right transparent"></button>
        </div>
        <div class="col-xs-10 full-height">
            <div class="viewer crocodoc-presentation transition transparent full-height"></div>
        </div>
        <div class="col-xs-1 no-padding full-height">
            <button type="button" id="next" class="btn btn-presentation btn-right btn-default btn-lg pull-left transparent"></button>
        </div>
    </div>
    <div class="modal fade" id="viewer-link-modal">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Share this link with people you want to present to:</h3>
                </div>
                <div class="modal-body">
                    <h4><a href="{{pathFor 'viewer'}}" target="_blank">{{baseUrl}}{{pathFor 'viewer'}}</a></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-block btn-primary" data-dismiss="modal">Take me to my presentation!</button>
                </div>
            </div>
        </div>
    </div>
</template>
