<template name="presentation">
    <div class="row">
        <div class="col-xs-1 centered">
            {{#if isPresenter}}
            <button type="button" id="previous" class="btn btn-default btn-lg pull-right">‹</button>
            {{/if}}
        </div>
        <div class="col-xs-10">
            <div class="viewer crocodoc-presentation transition"></div>
            <div class="page-tracker" data-page="1"></div>
        </div>
        <div class="col-xs-1 centered">
            {{#if isPresenter}}
            <button type="button" id="next" class="btn btn-default btn-lg pull-left">›</button>
            {{/if}}
        </div>
    </div>
</template>
