<template name="presentation">
    <div class="row">
        <div class="col-xs-1 full-height">
            {{#if isPresenter}}
            <button type="button" id="previous" class="btn presentation-btn btn-default btn-lg pull-right"><span class="glyphicon glyphicon-chevron-left"></span></button>
            {{/if}}
        </div>
        {{#if sessionId}}
        {{else}}
        <h1>session is available!</h1>
        {{/if}}
        <div class="col-xs-10">
            <div class="viewer crocodoc-presentation transition not-visible"></div>
        </div>
        <div class="col-xs-1 full-height">
            {{#if isPresenter}}
            <button type="button" id="next" class="btn presentation-btn btn-default btn-lg pull-left"><span class="glyphicon glyphicon-chevron-right"></span></button>
            {{/if}}
        </div>
    </div>
</template>
